/*
#1A1E29, #2E3A53, #3D4C6E, #566C86, #708BA6
*/

body {
  margin: 40;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  padding-top: 100px;
  background-color: #1A1E29;
  color: #fff;
}

input[type=range][orient=vertical] {
  writing-mode: bt-lr;
  /* IE */
  appearance: slider-vertical;
  /* Chromium */
  width: 8px;
  height: 175px;
  padding: 0 5px;
}

.loading {
  /* Animate the filter brightness property */
  animation: loading 1s infinite alternate;
}

@keyframes loading {
  0% {
    filter: brightness(100%);
    opacity: 1;
  }

  50% {
    filter: brightness(50%);
    opacity: 0.2;
  }

  100% {
    filter: brightness(100%);
    opacity: 1;
  }
}

.show-on-hover {
  transition: opacity 0.1s ease-in-out !important;
}

.show-on-hover:hover {
  opacity: 1 !important;
}